/* Copyright 2017 Sameer Puri; MIT licensed  (modifications) */

.begone-scrapers {
    // Use RTL to trick scrapers
    unicode-bidi: bidi-override;
    direction: rtl;

    // Prevent selection so it doesn't confuse anyone trying to copy + paste it
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    font-family: 'Inter', sans-serif;
}

pre > code > span, code {
    font-family: monospace;
}

p > code {
    background-color: rgba(27,31,35,.05);
    padding: .2em .4em;
}

pre {
    padding: 10px;
    background-color: rgba(27,31,35,.05) !important;
    overflow-x: auto;
    max-width: calc(100% - 20px);
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    border-bottom: solid black 1px;
}

th, td {
    padding: 0.2em;
}

th:not(:last-child), td:not(:last-child) {
    border-right: solid black 1px;
}


th:not(:first-child), td:not(:first-child) {
    text-align: center;
}

.footnote-definition, blockquote, details {
    border: 1px solid silver;
    padding: 10px;
    margin-bottom: 5px;
}

.footnote-definition > p {
    display: inline;
}

/* Give list elements some spacing */
ul > li, ol > li {
    margin-top: 0.2em;
}

/* Don't apply to the very first element in a top-level list */
div > ul > li:is(:first-child), div > ol > li:is(:first-child) {
    margin-top: auto;
}

img, video {
    max-width: 100%;
}

/* Let text dominate the screen, not images. If it's the last image maybe we want it at original size */
p:not(:last-child) > img, p:not(:last-child) > video {
    max-height: 30em;
    border: solid whitesmoke 1px;
}

img + em {
    display: block;
}

.container > img {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: auto;
}
img.ico, img.adjacent-text {
    height: 1em;
    vertical-align: baseline;
    // As per https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4
    position: relative;
    top: .125em;
}

h1,h2 {
    border-bottom: 1px solid silver;
}

a.zola-anchor {
    display: inline-block;
    margin-left: 1ex;
    border-bottom-color: transparent;
    text-decoration: none;
    color: transparent;
}

h2:hover > a.zola-anchor, h3:hover > a.zola-anchor, h4:hover > a.zola-anchor {
    color: #fff ;
}

/* Copyright 2014 Owen Versteeg; MIT licensed */
body,textarea,input,select{
    background:0;
    border-radius:0;
    margin:0;
}
.nav a{
    text-decoration:none
}
.container{
    margin:0 20px;
    width:auto
}

textarea,input,select{
    padding:8px;
    border:1px solid #ccc
}
textarea:focus,input:focus,select:focus{
    border-color:#5ab
}
textarea,input[type=text]{
    -webkit-appearance:none;
    width:13em
}

.nav,.nav .current,.nav a:hover{
    background:#000;
    color:#fff
}
.nav{
    height:24px;
    padding:11px 0 15px
}
.nav a{
    color:#aaa;
    padding-right:1em;
    position:relative;
    top:-1px
}
.nav .pagename{
    font-size:22px;
    top:1px
}

@media(min-width:1310px){
    .container{
        margin:auto;
        width:1270px
    }
}

@media(max-width:500px){
    .btn.btn-close{
        display:block
    }
    .nav{
        overflow:hidden
    }
    .pagename{
        margin-top:-11px
    }
    .nav:active,.nav:focus{
        height:auto
    }
    .nav div:before{
        background:#000;
        border-bottom:10px double;
        border-top:3px solid;
        content:'';
        float:right;
        height:4px;
        position:relative;
        right:3px;
        top:14px;
        width:20px
    }
    .nav a{
        padding:.5em 0;
        display:block;
        width:50%
    }
}
