<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/inter-ui/inter.css" type="text/css">
	<link rel="preload" href="/inter-ui/Inter (web)/Inter-Regular.woff2" as="font" type="font/woff2">
	<link rel="stylesheet" href="/hack/hack-subset.css" type="text/css">
	<link rel="preload" href="/hack/fonts/hack-regular-subset.woff2" as="font" type="font/woff2">
	<link rel="stylesheet" href="/style.css" type="text/css">
	<link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.svg" />
	<link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png" />
	<link rel="apple-touch-icon" type="image/png" sizes="192x192" href="/favicon-192x192.png" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css"
		integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js"
		integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t"
		crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js"
		integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
		onload='renderMathInElement(document.body, { delimiters: [
			{left: "$$", right: "$$", display: false},
			// {left: "$", right: "$", display: false},
			{left: "\\(", right: "\\)", display: false},
			{left: "\\[", right: "\\]", display: true}
		  ]
		  });'></script>
	<title>{% if page.title %}{{ page.title }}{% elif section.title %}{{ section.title }}{% else %}{% block title %}{%
		endblock title %}{% endif %} - purisa.me</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=yes">
	<meta name="theme-color" content="black">
	<meta name="color-scheme" content="only light">
	<meta name="msapplication-navbutton-color" content="#000000">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="author" content="Sameer Puri">
	<meta name="description"
		content="{% if page.description %}{{ page.description }}{% elif section.description %}{{ section.description }}{% else %}{% block description %}Sameer Puri's personal island in the seas of the interwebs. Come visit!{% endblock description %}{% endif %}">
</head>

<body>
	<nav class="nav" tabindex="-1" onclick="this.focus()">
		<div class="container">
			<a href="/" class="pagename current">purisa.me</a>

			<a href="/blog/">Blog </a>

			<a href="/code-art/">Code Art </a>

			<a href="/about/">About </a>

			<a href="#"
				onclick="document.body.style.background='#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);">&#128161;</a>
		</div>
	</nav>
	<div class="container">
		{% block content %} {% endblock %}
	</div>
</body>

</html>