<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/inter-ui/inter.css" type="text/css">
	<link rel="preload" href="/inter-ui/Inter (web)/Inter-Regular.woff2" as="font" type="font/woff2">
	<link rel="preload" href="/inter-ui/Inter (web)/Inter-Italic.woff2" as="font" type="font/woff2">
	<link rel="preload" href="/inter-ui/Inter (web)/Inter-Bold.woff2" as="font" type="font/woff2">
	<link rel="stylesheet" href="/style.css" type="text/css">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="icon" type="image/png" href="/favicon.png" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css" integrity="sha384-zTROYFVGOfTw7JV7KUu8udsvW2fx4lWOsCEDqhBreBwlHI4ioVRtmIvEThzJHGET" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js" integrity="sha384-GxNFqL3r9uRJQhR+47eDxuPoNE7yLftQM8LcxzgS4HT73tp970WS/wV5p8UzCOmb" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
		onload='renderMathInElement(document.body, { delimiters: [
			{left: "$$", right: "$$", display: false},
			// {left: "$", right: "$", display: false},
			{left: "\\(", right: "\\)", display: false},
			{left: "\\[", right: "\\]", display: true}
		  ]
		  });'></script>
	<title>{% if page.title %}{{ page.title }}{% elif section.title %}{{ section.title }}{% else %}{% block title %}{% endblock title %}{% endif %} - purisa.me</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=yes">
	<meta name="theme-color" content="black">
	<meta name="color-scheme" content="only light">
	<meta name="msapplication-navbutton-color" content="#000000">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="author" content="Sameer Puri">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% elif section.description %}{{ section.description }}{% else %}{% block description %}Sameer Puri's personal island in the seas of the interwebs. Come visit!{% endblock description %}{% endif %}">
</head>

<body>
	<nav class="nav" tabindex="-1" onclick="this.focus()">
		<div class="container">
			<a href="/" class="pagename current">purisa.me</a>

			<a href="/blog/">Blog </a>

			<a href="/code-art/">Code Art </a>

			<a href="/about/">About </a>

			<a href="#"
				onclick="document.body.style.background='#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);">&#128161;</a>
		</div>
	</nav>
	<div class="container">
		{% block content %} {% endblock %}
	</div>
</body>

</html>
