{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>
<ul>
    {% for page in section.pages %}
    <li>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            <br>
            <img src="/MaterialDesign-SVG/svg/clock-outline.svg" class="ico"> {{ page.reading_time }} minute read <img src="/MaterialDesign-SVG/svg/pencil-outline.svg" class="ico"> Published {{ page.date | date(timezone="America/New_York",format="%e %B %Y") }}
    </li>
    {% endfor %}
</ul>
{% endblock content %}
