{% extends "base.html" %} {% block title %}Code Art Gallery{% endblock %}

{% block content %} 
<h1>Gallery (click to view full-size)
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img class="adjacent-text" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" decoding="sync" />
    </a>
</h1>
{% for asset in page.assets %}
    {% set meta = get_image_metadata(path=asset) %}
    {% set desc = asset | replace(from = "code-art/", to = "") | replace(from = ".png", to = "") %}
    <figure>
        <a href="{{ get_url(path=asset) }}">
            <picture>
                <source media="(min-width: 1536px)" srcset='{{ resize_image(path=asset, width=1920, op="fit_width") }}'>
                <source media="(min-width: 1024px)" srcset='{{ resize_image(path=asset, width=1280, op="fit_width") }}'>
                <source media="(min-width: 768px)" srcset='{{ resize_image(path=asset, width=960, op="fit_width") }}'>
                <source media="(min-width: 512px)" srcset='{{ resize_image(path=asset, width=640, op="fit_width") }}'>
                <source media="(min-width: 256px)" srcset='{{ resize_image(path=asset, width=320, op="fit_width") }}'>
                <source media="(min-width: 128px)" srcset='{{ resize_image(path=asset, width=160, op="fit_width") }}' >
                <img src="{{ get_url(path=asset) }}" alt="{{ desc }}">
            </picture>
        </a>
        <figcaption>
            <h3>{{ desc }}</h3>
            <!-- <br> -->
            <!-- <p>{{ asset }}</p> -->
        </figcaption>
    </figure>
{% else %}
    <h2>No art yet, check back later!</h2>
{% endfor %}
<br>
<b>All works on this page are licensed under the
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
</b>
{% endblock content %}
