{% extends "base.html" %} {% block title %}Code Art Gallery{% endblock %}

{% block content %} 
<h1>Gallery <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" class="ico" src="/CC-BY-SA_icon.svg" decoding="sync" /></a></h1>
Click on artwork to view it in full size.

{% for asset in page.assets %}
    {% set meta = get_image_metadata(path=asset) %}
    {% set desc = asset | replace(from = "code-art/", to = "") | replace(from = ".png", to = "") %}
    <figure>
        <a href="{{ get_url(path=asset) }}">
            <picture>
                <source media="(min-width: 1536px)" srcset='{{ resize_image(path=asset, width=1920, op="fit_width") }}'>
                <source media="(min-width: 1024px)" srcset='{{ resize_image(path=asset, width=1280, op="fit_width") }}'>
                <source media="(min-width: 768px)" srcset='{{ resize_image(path=asset, width=960, op="fit_width") }}'>
                <source media="(min-width: 512px)" srcset='{{ resize_image(path=asset, width=640, op="fit_width") }}'>
                <source media="(min-width: 256px)" srcset='{{ resize_image(path=asset, width=320, op="fit_width") }}'>
                <source media="(min-width: 128px)" srcset='{{ resize_image(path=asset, width=160, op="fit_width") }}' >
                <img src="{{ get_url(path=asset) }}" alt="{{ desc }}" loading="lazy">
            </picture>
        </a>
        <figcaption>
            <h3>{{ desc }}</h3>
            <!-- <br> -->
            <!-- <p>{{ asset }}</p> -->
        </figcaption>
    </figure>
{% else %}
    <h2>No art yet, check back later!</h2>
{% endfor %}
<br>
<footer>
    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">Code Art</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://purisa.me" property="cc:attributionName" rel="cc:attributionURL">Sameer Puri</a> is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
</footer>
{% endblock content %}
